@use "sass:map";

$breakpoints: (
  // Small (landscape phones)
  // Font size: 17px
        sm:
        (
                breakpoint: 576px,
                viewport: 510px,
                root-font-size: 106.25%,
        ),
  // Medium (tablets)
  // Font size: 18px
        md:
        (
                breakpoint: 768px,
                viewport: 700px,
                root-font-size: 112.5%,
        ),
  // Large
  // Font size: 19px
        lg:
        (
                breakpoint: 1024px,
                viewport: 950px,
                root-font-size: 118.75%,
        ),
  // Max out at lg breakpoint
        xl:
        (
                breakpoint: 1024px,
                viewport: 950px,
                root-font-size: 118.75%,
        ),
        xxl:
        (
                breakpoint: 1024px,
                viewport: 950px,
                root-font-size: 118.75%,
        ),
);
@use "@picocss/pico/scss/pico" with (
  $theme-color: "azure",
  $breakpoints: $breakpoints,
  $enable-semantic-container: true,
  $enable-classes: true,
  $modules: (
    // Theme
    "themes/default": true,

    // Layout
    "layout/document": true,
    "layout/landmarks": true,
    "layout/container": true,
    "layout/section": true,
    "layout/grid": false,
    "layout/overflow-auto": false,

    // Content
    "content/link": true,
    "content/typography": true,
    "content/embedded": true,
    "content/button": true,
    "content/table": false,
    "content/code": true,
    "content/figure": false,
    "content/miscs": true,

    // Forms
    "forms/basics": true,
    "forms/checkbox-radio-switch": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,

    // Components
    "components/accordion": true,
    "components/card": true,
    "components/dropdown": true,
    "components/group": true,
    "components/loading": false,
    "components/modal": false,
    "components/nav": true,
    "components/progress": false,
    "components/tooltip": false,

    // Utilities
    "utilities/accessibility": true,
    "utilities/reduce-motion": true
  )
);
@use "@picocss/pico/scss/colors" as *;

[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-code-kbd-color: #000;
  --pico-code-kbd-background-color: #fff;
  --progress-background-color: #{$slate-100};
  --progress-stripe-color: rgba(0, 0, 0, 0.15);
}

@mixin pico-theme-dark {
  --pico-background-color: #181c25;
  --pico-card-background-color: #1b1f29;
  --pico-dropdown-background-color: #1b1f29;
  --pico-code-kbd-color: #fff;
  --pico-code-kbd-background-color: #333;
  --progress-background-color: #{$slate-800};
  --progress-stripe-color: rgba(255, 255, 255, 0.15);

  .platform-icon {
    filter: invert(1);
  }
}

[data-theme=dark] {
  @include pico-theme-dark;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include pico-theme-dark;
  }
}

// Override the tooltip component
[data-tooltip]:not(a, button, input) {
  border-bottom: none;
  cursor: pointer;
}

nav {
  > ul:first-child {
    > li:first-child * {
      color: var(--pico-contrast);
    }

    > li:not(:last-child):after {
      display: inline-block;
      width: 0;
      vertical-align: baseline;
      content: "/";
      padding-left: 10px;
    }

    @media (max-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
      > li:not(:first-child) {
        display: none;
      }

      > li:not(:last-child):after {
        display: none;
      }
    }
  }
}

@keyframes progress-stripes {
  0% {
    background-position: 0 0
  }
  to {
    background-position: calc(2.5rem) 0
  }
}

$progress-height: 2rem;

.progress-root {
  display: flex;
  height: $progress-height;
  overflow: hidden;
  border-radius: var(--pico-border-radius);
  background-color: var(--progress-background-color);
  margin-bottom: var(--pico-spacing);

  .progress-section.striped {
    //animation: progress-stripes 1s linear infinite;
    background-image: linear-gradient(
                    45deg,
                    var(--progress-stripe-color) 25%,
                    transparent 25%,
                    transparent 50%,
                    var(--progress-stripe-color) 50%,
                    var(--progress-stripe-color) 75%,
                    transparent 75%,
                    transparent);
    background-size: calc(1.25rem) calc(1.25rem);
    background-repeat: repeat;
  }

  &.code {
    .progress-section:nth-child(1) {
      background-color: $jade-400;
    }

    .progress-section:nth-child(2) {
      background-color: $jade-500;
    }

    .progress-section:nth-child(3) {
      background-color: transparent;
    }
  }

  &.data {
    .progress-section:nth-child(1) {
      background-color: $azure-400;
    }

    .progress-section:nth-child(2) {
      background-color: $azure-500;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .progress-root .progress-section.striped {
    animation: none;
  }
}

$unit-size: 0.75rem;

.units-root {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: var(--pico-spacing);

  .unit {
    width: $unit-size;
    height: $unit-size;
    background-color: #333;

    &:hover {
      border: 1px solid #fff;
    }
  }
}

.muted {
  color: var(--pico-muted-color);

  a {
    color: var(--pico-muted-color);
  }
}

#treemap {
  width: 100%;
  aspect-ratio: 2 / 1;
  margin-bottom: var(--pico-spacing);
  touch-action: none;
  // Accessed via JS
  --font-weight: normal;
  --font-size: 0.875rem;
  --font-family: var(--pico-font-family);
  --tooltip-background: var(--pico-contrast-background);
  --tooltip-color: var(--pico-contrast-inverse);
}

.project-header {
  display: flex;
  align-items: center;
  gap: var(--pico-spacing);
  margin-bottom: var(--pico-typography-spacing-vertical);

  .project-title {
    flex: 1 1 auto;
    margin-bottom: 0;
  }

  .platform-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (max-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
  .md {
    display: none !important;
  }
}

@media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
  .sm {
    display: none !important;
  }
}

.title-group {
  margin-top: calc(var(--pico-block-spacing-vertical) * 2);
}

#tooltip {
  --arrow-size: 0.3rem;
  position: absolute;
  z-index: 99;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  border-radius: var(--pico-border-radius);
  background: var(--pico-contrast-background);
  color: var(--pico-contrast-inverse);
  white-space: nowrap;
  pointer-events: none;
  transition: opacity .1s ease, left .1s ease, top .1s ease;
  margin-top: calc(var(--arrow-size) * -1);
  font-style: normal;
  font-weight: var(--pico-font-weight);
  font-size: .875rem;

  &::after {
    content: "";
    position: absolute;
    display: block;
    border-top: var(--arrow-size) solid var(--pico-contrast-background);
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    top: 100%;
    left: calc(var(--arrow-left) - var(--arrow-size));
    z-index: 100;
    transition: left .1s ease;
  }
}

@media (prefers-reduced-motion: reduce) {
  #tooltip, #tooltip::after {
    transition: none;
  }
}
