<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Projects • decomp.dev</title>
    {% include 'fragments/header.html' %}
    <meta name="description" content="Decompilation progress reports">
    <meta property="og:title" content="Decompilation Progress Reports">
    <meta property="og:description" content="Progress reports for matching decompilation projects">
    <meta property="og:image" content="{{ image_url | safe }}">
    <meta property="og:url" content="{{ canonical_url | safe }}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="https://decomp.dev">
                    <strong>decomp.dev</strong>
                </a>
            </li>
            <li>
                <a href="/">Projects</a>
            </li>
            <li class="md">
                <details class="dropdown">
                    <summary>{{ current_sort.name }}</summary>
                    <ul>
                        {% for sort in sort_options %}
                        <li><a href="?sort={{ sort.key }}">{{ sort.name }}</a></li>
                        {% endfor %}
                    </ul>
                </details>
            </li>
        </ul>
        {% include 'fragments/nav-links.html' %}
    </nav>
    <div class="title-group">
        <h3>Progress Reports</h3>
        <blockquote>
            Matching decompilation projects attempt to write source code (C, C++) that compiles to the same binary as the original.
            All source code is written from scratch.
            <footer>
                <a href="https://wiki.decomp.dev/">Learn more</a>
            </footer>
        </blockquote>
    </div>
</header>
<main>
    <details class="dropdown sm">
        <summary>{{ current_sort.name }}</summary>
        <ul>
            {% for sort in sort_options %}
            <li><a href="?sort={{ sort.key }}">{{ sort.name }}</a></li>
            {% endfor %}
        </ul>
    </details>
    {% for project in projects %}
    {% set measures = project.measures %}
    <article class="project">
        <div class="project-header">
            <h3 class="project-title">
                <a href="/{{ project.owner }}/{{ project.repo }}">
                    {{ project.name }}
                </a>
            </h3>
            {% if project.platform %}
            <img class="platform-icon" src="/assets/platforms/{{ project.platform }}.svg"
                 alt="{{ project.platform }}" width="24" height="24">
            {% endif %}
        </div>
        <h6>
            {% if current_sort.key == 'total_code' or current_sort.key == 'matched_code' %}
            {{ measures.matched_code | size }} matched code
            | {{ measures.total_code | size }} total code
            {% else %}
            {{ measures.matched_code_percent | round(2) }}% decompiled
            {% if measures.complete_code_percent > 0 %}
            | {{ measures.complete_code_percent | round(2) }}% fully linked
            {% endif %}
            {% endif %}
        </h6>
        <div class="progress-root code">
            {% for section in project.code_progress %}
            <div class="{{ section.class }}" style="width: {{ section.percent }}%"
                 data-tooltip="{{ section.tooltip }}"></div>
            {% endfor %}
        </div>
        <small class="muted">
            <span title="{{ project.timestamp | date }}">Updated {{ project.timestamp | timeago }}</span>
            in commit <a href="https://github.com/{{ project.owner }}/{{ project.repo }}/commit/{{ project.commit }}"
                         target="_blank">{{ project.commit[:7] }}</a>
        </small>
    </article>
    {% endfor %}
</main>
{% include 'fragments/footer.html' %}
</body>
</html>
